tid=$1
tname=$2
bdev=$3

lunid=1

tgtadm --lld iscsi --mode target --op new --tid $tid -T $tname
tgtadm --lld iscsi --mode logicalunit --op new --tid $tid --lun $lunid -b $bdev
tgtadm --lld iscsi --op bind --mode target --tid $tid -I ALL
